.navbar-brand {
  font-family: Viga;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #8bd8bd;
  color: black;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.lead {
  font-weight: 400;
}

#about {
  background-color: #243665;
  color: #eee;
}

#projects {
  background-color: #8bd8bd;
  color: black;
}

#projects .card-text {
  color: #143d59;
}

#contact {
  background-color: #243665;
  color: #eee;
}

section {
  padding-top: 5rem;
}

p .icon {
  display: flex;
  justify-content: space-evenly;
}
